<div class="main">
    <div class="main--body">
        <router-outlet></router-outlet>
    </div>
    <div class="main--footer">
        <div class="main--footer--icon ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="apps-sharp"></ion-icon>
        </div>
        <div class="main--footer--icon ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="home-sharp"></ion-icon>
        </div>
        <div class="main--footer--icon ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
        </div>
    </div>
</div>