.main {
    display:flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bird-darker);

    --footer-height: calc(7.4rem + var(--ion-safe-area-bottom));

    &--body {
        height: calc(100% - var(--footer-height));
        overflow-y: scroll;
    }

    &--footer {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        height: var(--footer-height);
        background-color: var(--bird-dark);
        box-shadow: 0 1px 14px #19282F;
        border-radius: 25px 25px 0 0;

        &--icon {
            padding: 1.25rem;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            color: var(--bird-dark-contrast);

            &--selected {
                color: var(--bird-primary);
            }

            ion-icon {
                height: 2.4rem;
                widows: 2.4rem;
                font-size: 2.4rem;
            }
        }
    }
}